doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
		title Top View Chat
		link(rel="stylesheet", href="/css/style.css")
	body!= content || '<section id="game"></section>'
		script(src="/js/app.js")
