
@import url(//fonts.googleapis.com/css?family=Press+Start+2P)


@keyframes walk
	0%
		background-position: -64px
	50%
		 background-position: -128px

body
	background: #26272b


body, input, button
	font-family: 'Press Start 2P'


#ui
	display: block
	position: absolute
	top: 96px
	right: -160px
	div
		padding: 0px
		border: 2px solid #ccc
		height: 32px
		line-height: 32px
		color: #ccc
		margin: 0px 0px 10px 0px
		label
			display: inline-block
			padding: 0px 8px
			height: 32px
			line-height: 32px
			color: #ccc
			float: left
		input
			display: inline-block
			padding: 0px 8px
			height: 32px
			line-height: 32px
			border: 0px solid #ccc
			border-left-width: 2px
			margin-left: 4px
			background: none
			color: #ccc

#game
	display: block
	position: absolute
	top: calc(50% - 384px)
	left: calc(50% - 512px)
	width: 1024px
	height: 768px
	background: #26272b
	.wall
		display: block
		position: absolute
		background: url("../assets/wall.png") top left repeat-x
		background-size: 64px
		&.vertical.left
			background: url("../assets/wall-bottom-left.png") bottom left no-repeat, url("../assets/wall-top-left.png") top left no-repeat, url("../assets/wall-left.png") top left repeat-y
			background-size: 64px
		&.vertical.right
			background: url("../assets/wall-bottom-right.png") bottom right no-repeat, url("../assets/wall-top-right.png") top right no-repeat, url("../assets/wall-right.png") top right repeat-y
			background-size: 64px

	.floor
		display: block
		position: absolute
		background: url("../assets/floor.png") top left repeat
		background-size: 64px
	.box
		display: block
		position: absolute
		background: url("../assets/ground-grass-3.png") top left no-repeat
		background-size: 64px
		width: 64px
		height: 64px
	#player
		display: block
		position: absolute
		left: 0px
		bottom: 128px
		right: 0px
		height: 64px
		width: 64px
		background: url("../assets/player.png") left center
		background-size: 192px
		z-index: 99
		transform: scaleX(-1)
		&.left
			transform: scaleX(1)
			.player-name
				transform: scaleX(1)
				right: -36px
				left: auto
		&.walking
			//background-position: -64px
			animation: walk 0.5s steps(1) infinite
		&.running
			animation: walk 0.4s steps(1) infinite
		.player-name
			transform: scaleX(-1)
			position: absolute
			bottom: -24px
			height: 18px
			line-height: 18px
			left: -36px
			right: auto
			width: 80px
			font-size: 10px
			text-align: center
			color: black
			font-family: 'Press Start 2P'
